@font-face {
    font-family: oldEnglish;
    src: url(fonts/oldenglish.ttf);
}

#banner h1 {
    font-family: oldEnglish;
}

#banner h1 a {
	color: #fff;
}

body {
    background: url("../img/bg.png") no-repeat;
}
